<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
<h1>We Will Right Back</h1>
<p>The Site is Currently under Maintance</p>
    </body>
</html>
